ol,
ul {
    list-style: none;
}

hr {
    margin: 0;
    margin-top: 12px;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
    display: block;
}

a:hover{
    color:currentColor;
    text-decoration: none;
}

body {
    font: 12px/18px Arial, sans-serif;
    width: 100%;
    background-color: burlywood;
    min-width: 600px;
}

.wrapper {
    width: 90%;
    margin: 0 auto;
}

/* Header
-----------------------------------------------------------------------------*/

.header {
    height: 104px;
    background: #FFE680;
}

.header img {
    height: 100px;
    position: absolute;
    top: 2px;
    left: 50%;
}

#navbarSupportedContent ul {
    margin-left: 25%;
    font-size: 30px;
}

#navbarSupportedContent ul li {
    padding-left: 20px;
}

nav,
nav .dropdown-menu {
    background-color: #FFE680;
}

nav .dropdown-item:hover {
    background-color: #FFE680;
    font-weight: bold;
}


/* Middle
-----------------------------------------------------------------------------*/
.middle {
    border-left: 250px solid #B5E3FF;
    position: relative;
    background-color: beige;
}

.middle:after {
    display: table;
    clear: both;
    content: '';
}

.container {
    width: 100%;
    float: left;
    overflow: hidden;
    margin-right: -100%;
}

.content {
    padding: 0 20px;
}


/* Left Sidebar
-----------------------------------------------------------------------------*/
.left-sidebar h6 {
    padding: 10px;
    margin: 0;
}

.left-sidebar {
    padding: 20px;
    float: left;
    width: 250px;
    position: relative;
    background: #B5E3FF;
    left: -250px;
    min-height: 700px;
}

.panel-heading {
    border: 1px solid burlywood;
    background: #faca48;
}

aside a {
    font-weight: bold;
    text-decoration: none;
    color: rgb(99, 78, 39);
}

aside .panel-heading:hover, .list-group-item:hover {
    cursor: pointer;
    background: burlywood;
}

.list-group-item {
    background: beige;
}


/* Footer
-----------------------------------------------------------------------------*/

.footer div{
    height: 60px;
    background: #BFF08E;
    display: flex;
    justify-content: flex-end;
}

.footer div img {
    height: 60px;
}

.signature {
    font-family: fantasy;
    font-size: 25px;
    position: relative;
    top: 20px;
}

.footer .addrecipediv{
 float:left;   
 padding-left: 30%;
}

.new-recipe{
    color:grey;
    cursor: pointer;
    font-family: fantasy;
    font-size: 15px;
    position: relative;
    top: 20px;
}

/* Forms
-------------------------------------------------------------------------------*/

@import url(https: //fonts.googleapis.com/css?family=Merriweather);

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}


main h1 {
    padding-top: 30px;
    text-align: center;
    color: #a8a8a8;
    text-shadow: 1px 1px 0 white;
}

main form {
    max-width: 900px;
    text-align: center;
    margin: 20px auto;
}

main form input,
.login input,
form div textarea, form div button, .unit {
    border: 0;
    outline: 0;
    padding: 1em;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    display: block;
    width: 100%;
    margin-top: 1em;
    font-family: "Merriweather", sans-serif;
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    resize: none;
}

form input:focus,
form textarea:focus {
    -moz-box-shadow: 0 0px 2px #e74c3c !important;
    -webkit-box-shadow: 0 0px 2px #e74c3c !important;
    box-shadow: 0 0px 2px #e74c3c !important;
}

form #input-submit, form div button {
    color: rgba(92, 92, 92, 0.541);
    background: #faca48;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
}

form div button {
    font-size: 15px;
    width: auto;
}

form #input-submit:hover {
    -moz-box-shadow: 0 1px 1px 1px rgba(170, 170, 170, 0.6);
    -webkit-box-shadow: 0 1px 1px 1px rgba(170, 170, 170, 0.6);
    box-shadow: 0 1px 1px 1px rgba(170, 170, 170, 0.6);
}

form textarea {
    height: 300px;
}

.ingredient_member {
    display: inline;
    width: 125px;
}

.unit, .amount {
    width: 70px;
}

.half {
    float: left;
    width: 48%;
    margin-bottom: 1em;
}

.right {
    width: 50%;
}

.left {
    margin-right: 2%;
}
.login input{
    font-size:16px;
}

.modal-title{
    margin: auto;
    justify-content: center;
    text-align: center;
}

@media (max-width: 480px) {
    .half {
        width: 100%;
        float: none;
        margin-bottom: 0;
    }
}


/* Clearfix */
.cf:before,
.cf:after {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */
}

.cf:after {
    clear: both;
}

/*autocomplete settings*/

.ui-autocomplete {
    padding: 15px;
    border-radius: 16px;
    min-width: 100px;
    max-width: 450px;
    background: #f7dc85;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    max-height: 300px;
    scroll-behavior: smooth;
    overflow-y: auto;
    overflow-x: hidden;
    color: rgb(61, 61, 61);
}

.ui-autocomplete li {
    padding: 10px;
    margin: 5px;
    cursor: pointer;
}

.ui-autocomplete li:nth-child(2n) {
    background: beige;
    border: #BFF08E;
}


.ui-autocomplete::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}

.ui-autocomplete::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5;
}

.ui-autocomplete::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(177, 100, 0, 0.3);
    background-color: #d8ad1f;
}

/* Food presentation */
.image-container {
    min-height: 200px;
    margin-bottom: 50px;
}

.image-container img {
    display: flex;
    height: 300px;
    margin: auto;
}

main h3 {
    text-align: center;
    margin: 0, auto;
}

.food-container {
    display: flex;
    white-space: pre;
    font-family: monospace;
}

.ingredients-container ol {
    list-style: disc;
}

.ingredients-container {
    float: left;
    font-size: 20px;
    margin: 50px;
    padding: 10px;
}

.instructions-container {
    float: right;
    overflow-wrap: normal;
    margin: 50px;
    padding: 10ox;
}


/* Scroll style */
.instructions-container::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}

.instructions-container::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5;
}

.instructions-container::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(177, 100, 0, 0.3);
    background-color: #d8ad1f;
}

@media only screen and (max-width: 1300px) {
    .wrapper {
        width: 100%;
    }

    body {
        margin: 5px;
    }

    .food-container {
        display: inline-flex;
    }

    .instructions-container {
        text-align: left;
        padding: 0;
        margin: 0;
        float: none;
        margin-left: 100px;
    }

    .ingredients-container {
        margin: 0;
        padding: 0;
        float: none;
        width: 100px;
        margin-right: 50px;
    }
}